.list
  padding: 0px 20px

  .itemsList
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 20px 25px

    .product
      border-radius: 3px
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      padding: 10px