header
  display: flex
  align-items: center
  justify-content: space-between

.menu
  display: flex
  align-items: center

  a
    margin-right: 20px
    text-decoration: none
    color: black
    cursor: pointer

  a:hover 
    color: gray

  .cart
    position: relative
    img
      cursor: pointer

  