.modal
  position: absolute
  width: 400px
  top: 30px
  left: -410px
  background: white
  border-radius: 4px
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px

  h2
    margin: 0px

  .content
    margin-top: 15px

    .cartItem
      display: flex
      flex-direction: row
      height: 50px
      margin-bottom: 10px

      .image
        height: 100%
        display: flex
        width: 50px
        margin-right: 30px
        align-content: center

        img
          width: 100%
          margin: auto
          

  .footer
    margin-top: 20px 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0px 10px

    button
      margin-right: 15px
